body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f4f6;
    margin: 50px;
}

img {
    display: block;
    margin: 0 auto; 
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    border: 2px solid #d4af37; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.certificate {
    border: 5px solid #ccb160;
    padding: 20px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

h2 {
    color: #d4af37; 
    font-size: 24px;
}

h3 {
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #666;
}

.signature {
    margin-top: 30px;
    font-size: 14px;
    text-align: left;
    padding-left: 40%;
}

.signature p {
    margin: 5px 0;
}